<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDE</title>
</head>

<body>
    <form action="/run" method="get">
        <textarea name="code"></textarea>
        <button>Run</button>
    </form>
</body>

</html>